* {
    box-sizing: border-box;
}

/* styles.css */
:root {
    --orange: #ff8c00;
    --royal-blue: #417ac5;
    --main-bg-color: #e9fff9;
    --pale-blue: #bcf2f6;
    --green: #95dfac;
    --pale-grey: #f2f2f2;
    --error-red: #99332f;
}

body {
    margin: 0;
    font-family: "Alumni Sans Inline One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    background-color: var(--main-bg-color);
    color: var(--royal-blue);
    height: 100vh;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.input-cursor {
    display: inline-block;
    width: 2px;
    height: 42px;
    background-color: white;
    margin-left: 8px;
    animation: blink .6s linear infinite alternate;
}

.img-container {
    display: flex;
    justify-content: center;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    background-color: var(--pale-blue);
    padding: 1rem;
    border-radius: 2rem;
    min-height: 90vh;
    /* box with blur */
    box-shadow: 10px 10px 5px lightblue;
}


.beer-container {
    max-width: 100%;
    min-height: 450px;
    background-color: ghostwhite;
    overflow: hidden;
    border-radius: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 2px var(--pale-grey);
}

.beer-container {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: 200px;
    padding-bottom: 1rem;
}

.bold {
    font-family: "Outfit", serif;
}

span {
    color: var(--orange);
}

span#sentence.sentence {
    font-size: 2rem;
}

/* Loader */


.lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: auto;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid var(--orange);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

input#submit {
    border-radius: 2rem;
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: "Outfit", serif;
    background-color: var(--orange);
    border: 2px solid white;
    color: navy;
}

input#submit:hover {
    color: white;
    background-color: Teal;
}

input#submit:focus {
    outline: 3px solid #FFD700;
    /* Gold */
    outline-offset: 2px;
}

input#submit[disabled] {
    opacity: 0.2;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }

    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

p#error-message {
    color: #99332f;
    font-weight: bold;
    font-size: 2rem;
}

/* Media Queries */

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}